<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect 4 Grid</title>
  <script type="text/javascript" >
    const socket = new WebSocket("ws://localhost:8080/ws");
    function insert(team, column) {
      socket.send(team+','+column)
    }
    function rotate() {
      socket.send('r')
    }
    

    socket.onopen = (event) => {
        console.log("WebSocket connection opened");
    };

    socket.onmessage = (event) => {
      let ary = JSON.parse(event.data);
      for (let i = 0 ; i < 8 ; i ++){
        for (let j = 0; j < 8 ; j++){
          let tag = document.getElementById(i+'-'+j)
          ary[i][j]==1?
          tag.style.backgroundColor = 'blue'
          : ary[i][j]==2? 
          tag.style.backgroundColor = 'red'
          : tag.style.backgroundColor='white'
        }
      }
    };

    socket.onclose = (event) => {
        console.log("WebSocket connection closed");
    }; 
  </script>

  <style>
    /* Add any custom styling for your grid here */
    .grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
    }
    .cell-0 {
      background-color: white;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }

    .cell-1 {
      background-color: blue;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }
    .cell-2 {
      background-color: red;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }
    .button {
      background-color: white;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <div id="grid" class="grid">
    {{ range $i,$row := .Rows }}
      {{ range $j,$col := $row }}
        <div id="{{$i}}-{{$j}}" class="cell-{{$col}}" ></div>
      {{ end }}
    {{ end }}
    {{range $row,$x:= .Rows}}
      <button 
       class="button" onclick="insert(1,{{$row}})" style="background-color: blue;"></button>
    {{end}}
    {{range $row,$x:= .Rows}}
      <button class="button" onclick="insert(2,{{$row}})" style="background-color: red;"></button>
    {{end}}
  </div>
  <button class="button" onclick="rotate()"> Rotate </button>
</body>

</html>
